<mat-sidenav-container>
  <mat-sidenav mode="side" opened class="leftmenu">
    <div class="menucontent">
      <p>this blue container should be sticy</p>
      <p>row1</p>
      <p>row2</p>
      <p>row3</p>
      <p>row4</p>
  </div>
  </mat-sidenav>
  <mat-sidenav-content class="rightmenu">
      <div class="content">
          <p>this is the content</p>
          <div>
            <h1>More content</h1>
            <p>this is the content</p>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed suscipit consectetur arcu, sit amet mattis nibh convallis eget. Pellentesque ut porttitor enim. Duis in tellus vitae massa pharetra dictum. Duis sit amet diam pretium nisl laoreet tempor nec nec elit. Nullam feugiat dolor vitae risus sollicitudin, elementum sodales dolor vulputate. Vestibulum ullamcorper orci non mi ornare eleifend. Cras lorem dolor, interdum non iaculis eu, viverra a ipsum. Sed dictum metus purus, quis accumsan nibh aliquet at. Nulla elit tortor, dignissim ut ullamcorper a, semper ut arcu. Sed tempus, mi a convallis malesuada, dolor lorem iaculis elit, quis rhoncus nibh felis nec nunc.

              Sed interdum arcu luctus vulputate venenatis. Integer euismod blandit lectus nec pharetra. Mauris ut est felis. Morbi rutrum enim non leo aliquam, id laoreet orci eleifend. Nam maximus facilisis ante, pellentesque feugiat nisl congue vitae. Aenean ut ante ut odio placerat fringilla eget eget turpis. Donec ac elit ac lectus sagittis finibus eget ac est. Proin vulputate tristique sollicitudin. Pellentesque id sapien congue, dapibus massa eget, bibendum tortor. Sed mauris arcu, iaculis at nisl non, viverra feugiat nisi. Vivamus eu ultricies tortor. Maecenas tincidunt odio mauris, sit amet luctus enim porttitor ut. Praesent mollis lacus in magna efficitur faucibus. Curabitur convallis, orci quis mattis pulvinar, ligula nisi lobortis sem, sit amet dapibus purus elit et augue. Mauris tempus dolor id cursus mattis. Praesent in consequat odio.
              
              Aenean nec volutpat elit, quis ultrices ante. Fusce id justo in augue fermentum ultrices. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi blandit massa non dapibus blandit. Vestibulum porttitor accumsan malesuada. Nullam lobortis arcu enim, at auctor mauris tempus eget. Duis nec euismod elit. Mauris nec turpis semper justo lobortis viverra. Sed ut elit nibh. In ut elit consectetur enim pulvinar ultrices. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
              
              Maecenas congue ultricies ante, non pharetra mauris dictum a. Proin leo odio, ultricies non lacinia id, condimentum vel est. Praesent libero augue, ornare sed mattis vitae, bibendum a lorem. Suspendisse faucibus enim non nunc mattis laoreet. Pellentesque diam justo, lacinia id neque nec, volutpat tristique purus. Maecenas ut sem vitae lorem commodo convallis. Phasellus sagittis leo vel arcu interdum tincidunt. Proin imperdiet turpis fringilla sapien lacinia sodales. Suspendisse mattis purus eget justo pharetra tempus. Vivamus massa erat, dignissim non gravida at, posuere vitae arcu. Sed elementum tincidunt tortor vitae consequat.
              
              Mauris consequat gravida facilisis. Quisque sit amet consectetur metus. Nam vulputate nibh nec sapien aliquam auctor. Sed dictum orci id suscipit ornare. Suspendisse ornare sem non sapien aliquam, id cursus erat consectetur. Donec facilisis eu tortor et fringilla. Donec varius convallis purus a volutpat. Ut viverra consectetur euismod. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum nibh leo, vulputate in luctus at, mollis blandit enim. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc eu sollicitudin ligula. Morbi ut nisl vitae quam iaculis mollis. Integer sagittis enim ac massa blandit, lobortis maximus justo dictum. Ut ac neque ipsum.</div>
          </div>
      </div>
  </mat-sidenav-content>
</mat-sidenav-container>